.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}


.dashboard-card {
  flex: 1 1 250px;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.25);
  text-align: center;
  transition: transform 0.2s ease;
}

.dashboard-card:hover {
  transform: translateY(-5px);
}

.dashboard-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: "bebas neue";
}

.dashboard-card p {
  font-size: 35px;
  margin-bottom: 5px;
  font-family: "bebas neue";
}

.dashboard-card small {
  color: #434343;
  font-size: 14px;
}
