.dropdown-container {
  position: relative;
  display: inline-block;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid var(--bg-secondary)
}


.dropdown {
  position: absolute;
  top: 40px; 
  right: -40px;
  background: var(--bg-primary-light);
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 140px;
  padding: 5px 0;
  display: none;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  z-index: 10;
}


.dropdown-container:hover .dropdown {
  display: flex;
}

.dropdown a {
  padding: 10px 15px;
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  transition: all 1s ease;
}

.dropdown a:hover {
  background: var(--bg-primary);
}
