.features-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 580px;
  width: calc(100% - 40px);
  font-family: "Inter", sans-serif;
  margin: 20px auto;
  border-radius: 20px;
  overflow: hidden;
}

.features-left {
  background: url("/banner3.jpg");
  color: #fff;
  position: relative;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.features-left > div {
  background-color: rgba(50, 40, 15, 0.4);
  padding: 70px 50px;
  padding-left: 130px;
  height: 100%;
  width: 100%;
}

.label {
  font-size: 14px;
  color: white;
  text-shadow: 2p 2px 5px var(--bg-secondary);
}

.title {
  font-size: 50px;
  margin-bottom: 20px;
  font-family: "bebas neue";
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  line-height: 1.2;
}

.desc {
  max-width: 520px;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 30px;
  color: #e3e3e3;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.contact-btn {
  background: var(--bg-primary);
  padding: 8px 20px;
  font-size: 22px;
  border-radius: 8px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  font-family: "bebas neue";
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-btn:hover {
  background: var(--bg-secondary);
}

.features-right {
  background: var(--bg-primary);
  padding: 70px 50px;
  color: #cdd6dd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  position: relative;
  padding-right: 130px;
}

.feature-item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.feature-icon {
  min-width: 55px;
  height: 55px;
  background: var(--bg-secondary);
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}

.feature-item h3 {
  font-size: 22px;
  margin-bottom: 6px;
  color: #ffffff;
  font-family: "bebas neue";
}

.feature-item p {
  font-size: 15px;
  color: #c0cbd3;
  line-height: 1.6;
}

@media (max-width: 1600px) {
  .features-right,
  .features-left > div {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 1400px) {
  .features-right,
  .features-left > div {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (max-width: 1200px) {
  .title {
    font-size: 32px;
  }

  .feature-icon svg {
    width: 30px;
    height: 30px;
    font-size: 22px;
  }
}

@media (max-width: 1000px) {
  .features-wrapper {
    grid-template-columns: 1fr;
  }

  .features-left > div {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .features-left > div {
    padding-left: 20px;
  }
}
