/* menu hamburuger button */

.btn-90 {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 999 !important;
  align-items: center;
  padding: 8px 8px;
  box-sizing: content-box;
}

.btn-90:hover {
  background-color: #9e9e9e2d;
  border-radius: 50%;
}

#hamb {
  transform: scale(2);
  color: white;
}

#side {
  position: fixed;
  background-color: rgb(23, 30, 48) !important;

  width: 250px;
  height: 100%;
  top: 0px;
  right: 0px;

  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  z-index: 999 !important;
}

#side:target {
  transform: translateX(0);
}

#side ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0px;
  align-items: center;
  margin-top: 50px;
}

#side ul li {
  margin: 10px;
}

#side a {
  color: white !important;
}

#side header {
  background-color: rgb(23, 30, 48);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

.btn-90 {
  display: none;
}

.paybill-btn1 {
  grid-column: span 2;
  display: flex;
  justify-content: center;
}

.footer-links h4 {
  font-size: 24px;
  margin-bottom: 35px;
}

.footer-links ul li a {
  font-size: 16px;
}

.footer-social h4 {
  font-size: 24px;
  margin-bottom: 35px;
}

@media (max-width: 768px) {
  .bill-details-card {
    grid-template-columns: 1fr !important;
    padding: 15px;
  }

  .navLinks-main {
    display: none;
  }

  nav a {
    display: inline-block;
    text-align: center !important;
  }

  .btn-90 {
    display: flex !important;
    width: 30px !important;
    transition: all 0.5s ease;
    padding: 8px !important;
  }

  .header-container-ul {
    display: none !important;
  }

  nav {
    padding: 10px;
  }
  .card-container {
    flex-direction: column;
  }

  .paybill-form {
    display: flex !important;
    width: 100%;
  }

  .modal-box {
    width: 80% !important;
  }

  .bill-details-image {
    width: 100% !important;
  }
  .bill-details-image img {
    width: 100% !important;
  }

  .footer-about {
    margin-right: 0px;
  }

  .footer-container {
    gap: 80px;
    width: 90%;
  }

  .footer-links h4 {
    margin-bottom: 35px;
  }

  .footer-social h4 {
    margin-bottom: 25px;
  }

  .swiper-slide {
    padding-bottom: 0px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }

  .swiper-slide > div {
    padding-bottom: 0px;
  }
}

.bill-category-pro {
  background-color: var(--bg-accent2);
  border-radius: 20px;
  color: var(--bg-accent3) !important;
  padding: 6px 8px;
  width: 100px;
  text-align: center;
}

.bill-date-pro {
  display: flex;
  color: var(--text-secondary);
  align-items: center;
  gap: 5px;
}
.login-text {
  margin-top: 0px;
  margin-bottom: 20px;
}

/* tablet */

@media (max-width: 1400px) and (min-width: 1201px) {
  .recent-bills-list {
    width: 85%;
  }
  .values-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    width: 85%;
  }
  .filter-by-cate {
    width: 85% !important;
  }
}

.btn-92 {
  margin-right: 28px;
  margin-top: 28px;
}
