
.how-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Inter", sans-serif;
  gap: 100px;
  margin: 80px 220px;
}

/* LEFT SECTION */
.section-label {
  font-size: 14px;
  font-weight: 600;
  color: var(--bg-primary);
  letter-spacing: 1px;
  
}

.how-title {
  font-size: 50px;
  color: #0d1b26;
  margin-bottom: 20px;
  line-height: 1.2;
  font-family: "bebas neue";
}

.how-title span {
  color:var(--bg-primary);
}

.how-desc {
  color: #44515c;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 30px;
}

.cta-btn {
  background: var(--bg-primary);
  border: none;
  padding: 8px 20px;
  font-size: 22px;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  align-items: center;
  gap:10px;
  font-family: "bebas neue";
}

.cta-btn:hover {
  background: var(--bg-secondary);
}

.how-left{
  width:100%;
}


/* RIGHT SECTION */
.how-right {
  display: flex;
  flex-direction: column;
  position: relative;
  width:100%;
  box-sizing: border-box;
}

.step {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 40px;
}

.icon {
  padding: 12px;
  background: var(--bg-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}

.step{
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(29, 77, 55, 0.2);
}

.icon svg{
  width:30px;
  height:30px;
}

.step h3 {
  font-size: 22px;
  margin-bottom: 8px;
  color: #0f1820;
  font-family: "bebas neue";
}

.step p {
  font-size: 15px;
  color: #4e5a65;
  line-height: 1.6;
}


/* RESPONSIVE */
@media (max-width: 900px) {
  .how-wrapper {
    flex-direction: column;
    text-align: left;
  }

  .how-right {
    margin-top: 20px;
  }

  .line {
    margin-left: 26px;
  }
}

