@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

* {
  box-sizing: border-box;
}

.light_theme {
  --bg-primary: rgb(29, 77, 55);
  --bg-primary-light: rgb(63, 96, 82);
  --bg-secondary: rgba(201, 161, 93);
  --bg-secondary-semi-light: rgb(255, 230, 188);
  --bg-secondary-light: rgb(243, 237, 227);

  background-color: var(--bg-secondary-light) !important;
  margin-top: 0px !important;
}

.logo {
  color: rgb(255, 255, 255);
  font-family: "bebas neue";
  font-size: 40px;
}

.header {
  background-color: var(--bg-primary);
  width: calc(100% - 40px);
  margin: 0px 20px 20px 20px;
  border-radius: 12px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--bg-secondary-light);
  box-sizing: border-box !important;
  padding-bottom: 1px;
}

.navLinks {
  display: flex;
  color: white;
  font-family: "bebas neue";
  align-items: center;
  max-height: 100vh;
  flex-wrap: wrap;
}

.navLinks li {
  margin: 0px 20px;
  font-size: 22px;
}

.navAndbanner {
  height: 800px !important;
  background-image: url("/banner1.jpg");

  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
}

.innerNavAndBanner {
  background: linear-gradient(
    180deg,
    rgba(201, 136, 25, 0.25),
    rgba(32, 59, 47, 0.7),
    rgba(32, 59, 47, 0.6)
  );
  height: 100%;
  padding-top: 20px;
}

.bannerText {
  width: 1000px;
  margin: 20px auto;
  margin-top: 250px;
}

.bannerText h3 {
  color: var(--bg-secondary-semi-light);
  font-size: 60px;
  text-align: center;
  font-family: "bebas neue";
  line-height: 1;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
}

.bannerText h3 span {
  color: var(--bg-primary);
}

.bannerText p {
  color: rgb(255, 255, 255);
  font-family: "Inter";
  text-align: center;
  font-size: 20px;
  text-shadow: 2px 2px 5px black;
  margin-bottom: 10px;
}

.banner-btn {
  background-color: var(--bg-secondary);
  font-size: 22px;
  font-family: "bebas neue";
  margin: 10px auto;
  color: white;
  border-radius: 8px;
  display: flex;
  padding: 8px 20px;
  align-items: center;
  gap: 10px;
  border: 0px;
  transition: all 0.4s ease;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

.banner-btn:hover {
  background-color: var(--bg-primary);
  cursor: pointer;
}

a {
  display: flex;
  gap: 10px;
  align-items: center;
}

button:disabled {
  background-color: rgb(86, 86, 86);
  cursor: not-allowed;
  opacity: 0.6;
}

button:disabled:hover {
  background-color: rgb(86, 86, 86);
}

@media (max-width: 1200px) {
  .bannerText {
    width: calc(100% - 200px);
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1000px) {
  .bannerText {
    width: calc(100% - 100px);
    margin-left: auto;
    margin-right: auto;
  }

  .bannerText h3 {
    font-size: 45px;
  }
}

@media (max-width: 768px) {
  .bannerText {
    width: calc(100% - 40px);
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  .logo {
    font-size: 40px;
    margin-bottom: -5px;
  }

  .bannerText p {
    font-size: 16px;
  }

  .bannerText h3 {
    font-size: 35px !important;
  }

  .latest-clubs-section {
    margin-left: 20px !important;
    margin-right: 20px !important;
    width: calc(100% - 40px) !important;
  }

  .latest-clubs-section h3 {
    font-size: 35px !important;
  }

  .latest-clubs-container {
    grid-template-columns: 1fr !important;
    margin: 0 !important;
  }

  .how-wrapper {
    margin-left: 40px !important;
    margin-right: 40px !important;
    gap: 30px !important;
  }

  .features-wrapper {
    margin-left: 20px !important;
    margin-right: 20px !important;
    width: calc(100% - 40px) !important;
  }

  .features-right {
    padding: 20px !important;
  }
  .title {
    font-size: 35px !important;
  }

  .feature-item div h3,
  .step div h3 {
    font-size: 30px !important;
  }

  .desc,
  .how-desc {
    font-size: 16px !important;
  }
}
