:root {
  --bg-primary: rgb(29, 77, 55);
  --bg-primary-light: rgb(63, 96, 82);
  --bg-secondary: rgba(201, 161, 93);
  --bg-secondary-semi-light: rgb(255, 230, 188);
  --bg-secondary-light: rgb(243, 237, 227);
}

.profile-container {
  padding: 20px 0px 0px 0px;
}

.profile-card-pro {
  width: calc(100% - 40px);
  margin: 40px auto;
}

.profile-card {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary);
  border-radius: 16px;
  padding: 40px 0px;
  max-width: 400px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  color: white;
  align-items: center;
  gap: 20px;
  margin: 40px auto 0px auto;
  text-align: center;
  font-size: 14px;
}

.profile-photo {
  width: calc(100% - 80px);
  overflow: hidden;
  border: 3px solid var(--bg-secondary);
  border-radius: 20px;
}

.profile-photo img {
  width: 100%;
  height: 250px;

  object-fit: cover;

  transition: all 1s ease;
}

.profile-photo img:hover {
  transform: scale(1.5);
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Inter";
  align-items: center;
}

.profile-name {
  font-size: 40px;
  font-family: "bebas neue";
  margin-bottom: -10px;
}

.profile-email {
  color: white;
}

.profile-role {
  background-color: var(--bg-secondary);
  color: var(--bg-primary);
  padding: 4px 8px;
  border-radius: 6px;
  display: inline-block;
  font-weight: 700;
  width: 65%;
}

.profile-created {
  color: white;
}
