:root {
  --bg-primary: rgb(29, 77, 55);
  --bg-primary-light: rgb(63, 96, 82);
  --bg-secondary: rgba(201, 161, 93);
  --bg-secondary-semi-light: rgb(255, 230, 188);
  --bg-secondary-light: rgb(243, 237, 227);
}

.profile-container {

  padding: 20px 0px;

}

.profile-card {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary);
  border-radius: 16px;
  padding: 40px 30px;
  max-width: 400px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  color: white;
  align-items: center;
  gap: 20px;
  margin: 40px auto 0px auto;
  text-align: center;
  font-size: 14px;
}

.profile-photo img {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  object-fit: cover;
  border: 3px solid var(--bg-secondary);
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Inter";
}

.profile-name {
  font-size: 40px;
font-family: 'bebas neue';
margin-bottom: -10px;
}

.profile-email {

  color: white
}

.profile-role {

  background-color: var(--bg-secondary);
  color: var(--bg-primary);
  padding: 4px 8px;
  border-radius: 6px;
  display: inline-block;
  font-weight: 700;
}

.profile-created {
  color: white;
}
