.latest-clubs-section {
  width: 100%;
  padding: 80px 0;
  background: var(--bg-secondary-light);
  text-align: center;
  font-family: "Inter";
}

.latest-clubs-section > p {
  font-size: 14px;
  color: var(--bg-primary);
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Inter";
}

.latest-clubs-section > h3 {
  font-size: 50px;
  color: black;
  margin-bottom: 50px;
  font-family: "bebas neue";
}

.latest-clubs-section > h3 span {
  color: var(--bg-primary);
}

.latest-clubs-container {
  margin: 0 150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 15px;
}

.club-card {
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  display: flex;
  flex-direction: column;
}

.club-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.club-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.club-card > div:last-child {
  padding: 22px;
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.club-card h4 {
  font-size: 28px;
  color: var(--bg-primary);
  margin-bottom: 10px;
  font-family: "bebas neue";
}

.group-info-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex: 1;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.group-info-middle p {
  font-size: 15px;
  font-weight: 600;
  color: var(--bg-primary);
  display: flex;
  align-items: center;
  gap: 5px;
}

.club-card button {
  width: 100%;
  padding: 8px 0;
  background: var(--bg-primary);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 22px;
  font-family: "bebas neue";
  cursor: pointer;
  transition: background 0.5s ease;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.club-card button:hover {
  background: var(--bg-primary-light);
}

.club-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 80, 0, 0.221);
  flex-wrap: wrap;
  gap: 10px;
}

.club-meta span {
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 6px;
}

.club-meta .category {
  background: var(--bg-secondary-semi-light);
  color: var(--bg-primary);
}

.club-meta .fee {
  background: var(--bg-primary);
  color: white;
}

.managerClubButtons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.createEventButton {
  width: calc(100% - 150px);
  margin-left: 150px;
  margin-bottom: 50px;
}

/* Customization controls container */
.customizationData {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 25px;
  padding: 10px 0;
  align-items: center;
  margin: 0px 150px 30px 150px;
  justify-content: flex-end;
}

/* Select dropdowns */
.customizationData select {
  padding: 8px 12px;
  border: 1px solid rgba(200, 200, 200, 0.8);
  border-radius: 8px;
  font-size: 14px;
  background-color: var(--bg-primary);
  color: white;
  cursor: pointer;
  height: 45px;
  transition: all 0.2s ease;
  min-width: 250px;
}

/* Search input */
.customizationData input[type="text"] {
  padding: 8px 12px;
  height: 45px;
  border-radius: 8px;
  font-size: 14px;
  background-color: var(--bg-primary);
  color: rgb(255, 255, 255);
  min-width: 250px;
}

.customizationData input[type="text"]:hover {
  border-color: #4caf50;
}

.no-data {
  width: 100%;
  padding: 50px 20px;
  text-align: center;
  color: #555;
  grid-column: span 4;
  font-family: "Inter";
}

.no-data-icon {
  font-size: 40px;
  color: #636363;
  margin-bottom: 12px;
  display: block;
  margin: 12px auto;
}

.no-data h4 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #474747;
}

.no-data p {
  font-size: 18px;
  color: #636363;
}

@media (max-width: 1600px) {
  .latest-clubs-container {
    margin: 0 100px;
  }

  .createEventButton {
    margin-left: 100px;
  }

  .customizationData {
    margin: 0px 100px 30px 100px;
  }
}

@media (max-width: 1400px) {
  .latest-clubs-container {
    margin: 0 75px;
  }
  .createEventButton {
    margin-left: 75px;
  }
  .customizationData {
    margin: 0px 75px 30px 75px;
  }
}

@media (max-width: 1250px) {
  .latest-clubs-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1000px) {
  .latest-clubs-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .createEventButton {
    margin-left: 0px;
  }
  .customizationData {
    flex-direction: column;
    gap: 10px;
  }

  .customizationData {
    margin: 0px 0px 30px 0px;
  }

  .customizationData input[type="text"] {
    width: 100%;
  }

  .customizationData select {
    width: 100%;
  }
}
