.user-list-container {
  padding: 20px;
}

.user-list-container h2 {
  text-align: center;
  font-family: "bebas neue";
  font-size: 30px;
  color: var(--bg-primary);
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th,
.user-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.user-table th {
  background-color: #f3f3f3;
}

.role-btn {
  margin-right: 8px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}

.admin-btn {
  background-color: var(--bg-primary);
}

.club-manager-btn {
  background-color: #2196f3;
}

.role-btn:disabled {
  background-color: #686868;
  cursor: not-allowed;
}

.user-btn {
  background-color: rgb(0, 129, 86);
}

.action-button-container {
  display: flex;
  flex-wrap: nowrap;
}

button {
  white-space: nowrap;
}

.user-list-container {
  overflow-x: scroll;
}
